{% extends 'base.html' %}

{% block page_content %}
        <div class="row">
{% block before_widgets %}{% endblock %}

{% autoescape off %}
{% for layout,widgets in content %}
            <div class="col-{{ layout }}">
{% for wdg in widgets %}
{{ wdg.render() }}
{% endfor %}
            </div>
{% endfor %}
{% endautoescape %}

{% block after_widgets %}{% endblock %}
        </div>
{% endblock %}

{% block app_deps %}
        <script src="{{ static('lib/widgster/widgster.js') }}"></script>
        <script src="{{ static('lib/underscore/underscore.js') }}"></script>
{% endblock %}

{% block app_plugins %}
        <script src="{{ static('lib/slimScroll/jquery.slimscroll.min.js') }}"></script>
        <script src="{{ static('lib/jquery.sparkline/index.js') }}"></script>

        <script src="{{ static('lib/backbone/backbone.js') }}"></script>
        <script src="{{ static('lib/backbone.localStorage/backbone.localStorage-min.js') }}"></script>

        <script src="{{ static('lib/d3/d3.min.js') }}"></script>
        <script src="{{ static('lib/nvd3/build/nv.d3.min.js') }}"></script>
{% endblock %}

{% block app_core %}
        <script src="{{ static('js/chat.js') }}"></script>
{% endblock %}

