<section class="widget">
    <header>
        <h4>
            {{ title }}
            <small>
                {{ heading }}
            </small>
        </h4>
        <div class="widget-controls">
{% block actions %}
{% endblock %}
            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
            <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
    </header>
    <div class="body no-margin">
{% block body %}
{% endblock %}
    </div>
</section>

