{% extends "particles/feed.html" %}

{% block actions %}
            <button class="btn btn-transparent btn-xs">Show All <i class="fa fa-arrow-down"></i></button>
{% endblock %}

{% block timeline %}
        <section class="feed-item">
            <div class="icon pull-left">
                <i class="fa fa-check color-green"></i>
            </div>
            <div class="feed-item-body">
                <div class="text">
                    <a href="#">Merge request #42</a> has been approved by <a href="#">Jessica Lori</a>.
                </div>
                <div class="time pull-left">
                    10 h
                </div>
            </div>
        </section>
        <section class="feed-item">
            <div class="icon pull-left">
                <img src="img/14.jpg" class="img-circle" alt="">
            </div>
            <div class="feed-item-body">
                <div class="text">
                    New user <a href="#">Greg Wilson</a> registered.
                </div>
                <div class="time pull-left">
                    Today
                </div>
            </div>
        </section>
        <section class="feed-item">
            <div class="icon pull-left">
                <i class="fa fa-bolt color-orange"></i>
            </div>
            <div class="feed-item-body">
                <div class="text">
                    Server fail level raises above normal. <a href="#">See logs</a> for details.
                </div>
                <div class="time pull-left">
                    Yesterday
                </div>
            </div>
        </section>
        <section class="feed-item">
            <div class="icon pull-left">
                <i class="fa fa-database"></i>
            </div>
            <div class="feed-item-body">
                <div class="text">
                    <a href="#">Database usage report</a> is ready.
                </div>
                <div class="time pull-left">
                    Yesterday
                </div>
            </div>
        </section>
        <section class="feed-item">
            <div class="icon pull-left">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="feed-item-body">
                <div class="text">
                    <a href="#">Order #233985</a> needs additional processing.
                </div>
                <div class="time pull-left">
                    Wednesday
                </div>
            </div>
        </section>
{% endblock %}

