{% extends "particles/table.html" %}

{% block actions %}
            <a title="Options" href="#"><i class="glyphicon glyphicon-cog"></i></a>
{% endblock %}

{% block columns %}
                    <th class="source-col-header">Source</th>
                    <th>Amount</th>
                    <th>Change</th>
                    <th class="hidden-xs">Percent.,%</th>
                    <th>Target</th>
                    <th class="chart-col-header hidden-xs">Trend</th>
{% endblock %}

{% block rows %}
                <tr>
                    <td><span class="label label-important">Direct</span></td>
                    <td>713</td>
                    <td><strong class="color-green">+53</strong></td>
                    <td class="hidden-xs">+12</td>
                    <td>900</td>
                    <td class="chart-cell hidden-xs">
                        <div id="direct-trend"></div>
                    </td>
                </tr>
                <tr>
                    <td><span class="label label-warning">Refer</span></td>
                    <td>562</td>
                    <td><strong>+84</strong></td>
                    <td class="hidden-xs">+64</td>
                    <td>500</td>
                    <td class="chart-cell hidden-xs">
                        <div id="refer-trend"></div>
                    </td>
                </tr>
                <tr>
                    <td><span class="label label-success">Social</span></td>
                    <td>148</td>
                    <td><strong class="color-red">-12</strong></td>
                    <td class="hidden-xs">+3</td>
                    <td>180</td>
                    <td class="chart-cell hidden-xs">
                        <div id="social-trend"></div>
                    </td>
                </tr>
                <tr>
                    <td><span class="label label-info">Search</span></td>
                    <td>653</td>
                    <td><strong class="color-green">+23</strong></td>
                    <td class="hidden-xs">+43</td>
                    <td>876</td>
                    <td class="chart-cell hidden-xs">
                        <div id="search-trend"></div>
                    </td>
                </tr>
                <tr>
                    <td><span class="label label-inverse">Internal</span></td>
                    <td>976</td>
                    <td><strong>+101</strong></td>
                    <td class="hidden-xs">-7</td>
                    <td>844</td>
                    <td class="chart-cell hidden-xs">
                        <div id="internal-trend"></div>
                    </td>
                </tr>
{% endblock %}

