{% extends "layouts/widget.html" %}

{% block actions %}
            <a title="Options" href="#"><i class="glyphicon glyphicon-cog"></i></a>
{% endblock %}

{% block body %}
{% block before_chart %}{% endblock %}
<div id="visits-chart" class="chart visits-chart">
    <svg></svg>
</div>
{% block after_chart %}{% endblock %}
<div class="visits-info well well-sm">
    <div class="row">
{% block flags %}
        <div class="col-sm-3 col-xs-6">
            <div class="key"><i class="fa fa-users"></i> Total Traffic</div>
            <div class="value">24 541 <i class="fa fa-caret-up color-green"></i></div>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="key"><i class="fa fa-bolt"></i> Unique Visits</div>
            <div class="value">14 778 <i class="fa fa-caret-down color-red"></i></div>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="key"><i class="fa fa-plus-square"></i> Revenue</div>
            <div class="value">$3 583.18 <i class="fa fa-caret-up color-green"></i></div>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="key"><i class="fa fa-user"></i> Total Sales</div>
            <div class="value">$59 871.12 <i class="fa fa-caret-down color-red"></i></div>
        </div>
{% endblock %}
    </div>
</div>
{% endblock %}

