{% extends "layouts/widget.html" %}

{% block actions %}
            <a title="Options" href="#"><i class="glyphicon glyphicon-cog"></i></a>
{% endblock %}

{% block body %}
<div id="feed" class="feed">
    <div class="wrapper">
        <div class="vertical-line"></div>
{% for entry in wdg.entries %}
{% block timeline %}
        <section class="feed-item">
            <div class="icon pull-left">
                <i class="fa fa-{{ entry.icon }}"></i>
            </div>
            <div class="feed-item-body">
                <div class="text">
                    {{ entry.content }}
                </div>
                <div class="time pull-left">
                    {{ entry.when }}
                </div>
            </div>
        </section>
{% endblock %}
{% endfor %}
        <section class="feed-item">
            <div class="icon pull-left">
                <i class="fa fa-arrow-down"></i>
            </div>
            <div class="feed-item-body">
                <div class="text">
                    <a href="#">Load more...</a>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}

