{% extends "layouts/widget.html" %}

{% block actions %}
<small class="text-muted pull-right">2 days ago</small>
{% endblock %}

{% block body %}
<ul class="server-stats">
    <li>
        <div class="key pull-right">CPU</div>
        <div class="stat">
            <div class="info">60% / 37&deg;C / 3.3 Ghz</div>
            <div class="progress progress-small">
                <div class="progress-bar progress-bar-danger" style="width: 70%;"></div>
            </div>
        </div>
    </li>
    <li>
        <div class="key pull-right">Mem</div>
        <div class="stat">
            <div class="info">29% / 4GB (16 GB)</div>
            <div class="progress progress-small">
                <div class="progress-bar" style="width: 29%;"></div>
            </div>
        </div>
    </li>
    <li>
        <div class="key pull-right">LAN</div>
        <div class="stat">
            <div class="info">6 Mb/s <i class="fa fa-caret-down"></i> &nbsp; 3 Mb/s <i class="fa fa-caret-up"></i></div>
            <div class="progress progress-small">
                <div class="progress-bar progress-bar-inverse" style="width: 48%;"></div>
            </div>
        </div>
    </li>
</ul>
{% endblock %}

