{% extends "layouts/widget.html" %}

{% block actions %}
<a title="Options" href="#"><i class="glyphicon glyphicon-cog"></i></a>
{% endblock %}

{% block body %}
<div id="chat" class="chat">
    <div id="chat-messages" class="chat-messages">
{% for msg in wdg.messages %}
{% block timeline %}
        <div class="chat-message">
            <div class="sender pull-left">
                <div class="icon">
                    <img src="{{ static(msg.sender.mugshot) }}" class="img-circle" alt="Avatar of {{ msg.sender.full }}">
                </div>
                <div class="time">
                    {{ msg.when }}
                </div>
            </div>
            <div class="chat-message-body">
                <span class="arrow"></span>
                <div class="sender"><a href="#">{{ msg.sender.full }}</a></div>
                <div class="text">
                    {{ msg.content }}
                </div>
            </div>
        </div>
{% endblock %}
{% endfor %}
    </div>
    <footer class="chat-footer row">
        <div class="col-xs-9">
{% block express %}
            <input id="new-message" type="text" class="form-control input-transparent" placeholder="Enter your message..">
{% endblock %}
        </div>
        <div class="col-xs-3">
{% block interact %}
            <button type="button" id="new-message-btn" class="btn btn-transparent btn-block">Send</button>
{% endblock %}
        </div>
    </footer>
</div>
{% endblock %}

