<!DOCTYPE html>
<html>
    <head>
        <title>Light Blue - Responsive Admin Dashboard Template</title>
        <link href="{{ static('css/application.min.css') }}" rel="stylesheet">
        <link rel="shortcut icon" href="{{ static('img/favicon.png') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta charset="utf-8">
        <script>
            /* yeah we need this empty stylesheet here. It's cool chrome & chromium fix
               chrome fix https://code.google.com/p/chromium/issues/detail?id=167083
                          https://code.google.com/p/chromium/issues/detail?id=332189
            */
        </script>
    </head>
    <body class="background-dark">
{% block page_body %}
        <div class="logo">
            <h4>
{% block page_header %}
                <a href="/">Uchikoma <strong>CONAN</strong></a>
{% endblock %}
            </h4>
        </div>
        <nav id="sidebar" class="sidebar nav-collapse collapse">
{% include 'inc/sidebar.html' %}
        </nav>
        <div class="wrap">
            <header class="page-header">
                <div class="navbar">
{% include 'inc/navbar.html' %}
                </div>
            </header>
            <div class="content container">
                <h2 class="page-title">
{% block page_title %}
                    Dashboard <small>Statistics and more</small>
{% endblock %}
                </h2>
{% block page_content %}
{% endblock %}
            </div>
            <div class="loader-wrap hiding hide">
                <i class="fa fa-circle-o-notch fa-spin"></i>
            </div>
        </div>
{% endblock %}
        <script src="{{ static('lib/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ static('lib/jquery-pjax/jquery.pjax.js') }}"></script>
        <script src="{{ static('lib/bootstrap-sass/assets/javascripts/bootstrap.min.js') }}"></script>
{% block app_deps %}
        <script src="{{ static('lib/widgster/widgster.js') }}"></script>
        <script src="{{ static('lib/underscore/underscore.js') }}"></script>
{% endblock %}
        <script src="{{ static('js/app.js') }}"></script>
        <script src="{{ static('js/settings.js') }}"></script>
{% block app_plugins %}
        <script src="{{ static('lib/slimScroll/jquery.slimscroll.min.js') }}"></script>
        <script src="{{ static('lib/jquery.sparkline/index.js') }}"></script>

        <script src="{{ static('lib/backbone/backbone.js') }}"></script>
        <script src="{{ static('lib/backbone.localStorage/backbone.localStorage-min.js') }}"></script>

        <script src="{{ static('lib/d3/d3.min.js') }}"></script>
        <script src="{{ static('lib/nvd3/build/nv.d3.min.js') }}"></script>
{% endblock %}

{% block app_core %}
        <script src="{{ static('js/index.js') }}"></script>
        <script src="{{ static('js/chat.js') }}"></script>
{% endblock %}
    </body>
</html>

