            <div class="setting clearfix">
                <div>Background</div>
                <div id="background-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
                    <% dark = background == 'dark'; light = background == 'light';%>
                    <button type="button" data-value="dark" class="btn btn-sm btn-default <%= dark? 'active' : '' %>">Dark</button>
                    <button type="button" data-value="light" class="btn btn-sm btn-default <%= light? 'active' : '' %>">Light</button>
                </div>
            </div>
            <div class="setting clearfix">
                <div>Sidebar on the</div>
                <div id="sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
                    <% onRight = sidebar == 'right'%>
                    <button type="button" data-value="left" class="btn btn-sm btn-default <%= onRight? '' : 'active' %>">Left</button>
                    <button type="button" data-value="right" class="btn btn-sm btn-default <%= onRight? 'active' : '' %>">Right</button>
                </div>
            </div>
            <div class="setting clearfix">
                <div>Sidebar</div>
                <div id="display-sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
                    <% display = displaySidebar%>
                    <button type="button" data-value="true" class="btn btn-sm btn-default <%= display? 'active' : '' %>">Show</button>
                    <button type="button" data-value="false" class="btn btn-sm btn-default <%= display? '' : 'active' %>">Hide</button>
                </div>
            </div>
            <div class="setting clearfix">
                <div>White Version</div>
                <div>
                    <a href="../white/index.html" class="btn btn-sm btn-default">&nbsp; Switch &nbsp;   <i class="fa fa-angle-right"></i></a>
                </div>
            </div>

